@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf") format("woff2");
}

body {
  @apply font-open-sans text-white bg-navy-850;
}

